# Nuxt
.nuxt
.nitro
.cache
.output
.data
dist

# Node
node_modules
*.log

# Env
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/migrations/**/migration_lock.toml
